"" let mapleader = " " -- Don't know what is it. I'll check it later


"" Source your .vimrc
"source ~/.vimrc

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)


" Find more examples here: https://jb.gg/share-ideavimrc


" NerdTree"
Plug 'preservim/nerdtree'

" Do incremental searching.
set incsearch

" Show numbers and relative numbers from your cursor
set number
set relativenumber

set surround (vim) " work with brackets

" Which-key
set which-key
set timeoutlen=100000
let g:WhichKey_ShowVimActions = "false"


" Multiple Cursors
Plug 'terryma/vim-multiple-cursors'
map mc <A-n> "take
map mx <A-x> "skip
map mp <A-p> "prev

" Easy motion plugin
" Plug 'easymotion/vim-easymotion'
" ctrl + ; + findName"
set easymotion


" Don't use Ex mode, use Q for formatting.
map Q gq

" ---- Mapping ---
"i - insert mode
"n - normal mode
" jj - get out of insert mode
" inoremap jj <Esc>

" -- page 1/2 up / down using alt + u / d
nnoremap <a-d> <c-d>
nnoremap <a-u> <c-u>
set scroll=15
set scrolloff=10 " Minimal number of lines above and below the cursor

" -- switch between windows
nnoremap <a-w> <c-w>

" add tabs and remove tabs by <tab> and <shift + tab>
vnoremap <tab> >gv
nnoremap <tab> >>

" -- Code Edit
map <space>rn <Action>(RenameElement)

" -- Go to
map gd <Action>(GotoDeclaration)
map gD <Action>(GotoTypeDeclaration)
map gi <Action>(GotoImplementation)
map gb <Action>(Back)
map gf <Action>(Forward)

" -- Error
map <space>e <Action>(GotoNextError)
map <space>E <Action>(GotoPreviousError)


" --- Search
map <space>sf <Action>(GotoFile)
map <space>sa <Action>(GotoAction)
map <space>se <Action>(SearchEverywhere)


" --- Quick Info
map qc <Action>(EditorContextInfo)
map qe <Action>(ShowErrorDescription)
map qd <Action>(QuickJavaDoc)
map qp <Action>(ParameterInfo)

" -- todo window
map <space>to <Action>(ActivateTODOToolWindow)

"-- configure keymaps
map <space>km <Action>(ChangeKeymap)

" -- SHORTCUTS used by VIM instead of IDEA -- "
" Ctrl+;
" Ctrl+Shift+;
" Alt+D