"" let mapleader = " " -- Don't know what is it. I'll check it later


"" Source your .vimrc
"source ~/.vimrc

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)


" Find more examples here: https://jb.gg/share-ideavimrc


" NerdTree"
Plug 'preservim/nerdtree'

" Do incremental searching.
set incsearch

" Show numbers and relative numbers from your cursor
set number
set relativenumber

set surround (vim) " work with brackets

" Which-key
set which-key
set timeoutlen=100000
let g:WhichKey_ShowVimActions = "false"


" Multiple Cursors
"Plug 'terryma/vim-multiple-cursors'
"nmap mc <A-n> "take " alt + j
nmap mc <Action>(SelectNextOccurrence)
vmap mc <Action>(SelectNextOccurrence)
"nmap mx <A-x> "skip " F3
nmap mx <Action>(FindNext)
vmap mx <Action>(FindNext)
"nmap mp <A-p> "prev " Shift + F3
"nmap ?? <A-p> back to selected  alt + shift + j
nmap mp <Action>(FindPrevious)
vmap mp <Action>(FindPrevious)
"nmap ??? select all " shift + ctrl + alt + j
nmap ma <Action>(SelectAllOccurrences)
vmap ma <Action>(SelectAllOccurrences)

" Easy motion plugin
" Plug 'easymotion/vim-easymotion'
" ctrl + ; + findName"
set easymotion


" Don't use Ex mode, use Q for formatting.
map Q gq

" ---- Mapping ---
"i - insert mode
"n - normal mode
" jj - get out of insert mode
" inoremap jj <Esc>

" -- page 1/2 up / down using alt + u / d
nnoremap <a-d> <c-d>
nnoremap <a-u> <c-u>
" -- Use it for v mode
vmap <a-d> 15j
vmap <a-u> 15k
set scroll=15 "Doesn't work in v mode
set scrolloff=10 "Minimal number of lines above and below the cursor

" -- switch between windows
nnoremap <a-w> <c-w>

" add tabs and remove tabs by <tab> and <shift + tab>
vnoremap <tab> >gv
nnoremap <tab> >>

" -- Code Edit
" nmap <space>rn <Action>(RenameElement) Shift + F6

" -- Go to
nmap gd <Action>(GotoDeclaration)
nmap gD <Action>(GotoTypeDeclaration)
nmap gi <Action>(GotoImplementation)
nmap gb <Action>(Back)
nmap gf <Action>(Forward)

" -- Error
"nmap <space>e <Action>(GotoNextError) " F2
"nmap <space>E <Action>(GotoPreviousError) " Shift + F2


" --- Search
nmap <space>sf <Action>(GotoFile)
nmap <space>sa <Action>(GotoAction)
nmap <space>se <Action>(SearchEverywhere)

" -- Move Tabs
nmap <space>mo <Action>(MoveEditorToOppositeTabGroup)
nmap <space>ml :tabm-1 <CR>
nmap <space>mr :tabm+1 <CR>
nmap <space>rc <Action>(ReopenClosedTab)


" --- Quick Info
nmap qc <Action>(EditorContextInfo)
nmap qe <Action>(ShowErrorDescription)
nmap qd <Action>(QuickJavaDoc)
nmap qp <Action>(ParameterInfo)

" -- todo window
nmap <space>to <Action>(ActivateTODOToolWindow)

"-- configure keymaps
nmap <space>km <Action>(ChangeKeymap)

" -- SHORTCUTS used by VIM instead of IDEA -- "
" Ctrl+;
" Ctrl+Shift+;
" Alt+D